{% extends 'brain_theme.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if text %}
        {% autoescape off %}
            <p>{{ text }}</p>
        {% endautoescape %}
    {% else %}
        <p><b>Note:</b>No Index File in this folder.</p>

        {% if docs %}

            <div class="card">
                <div class="card-header">
                    Document List
                </div>
                <div class="card-body">
                    <ul>
                        {% for d in docs %}
                            <li>
                                <a href="{{ d.1 }}">{{ d.0 }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        {% else %}
            <p>No documents in this folder.</p>
        {% endif %}
    {% endif %}

    {% if files %}

        <p>Documents in folder</p>
        <ul>
            {% for f in files %}
                <li>
                    <a href="{{ f }}">{{ f }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}



{% endblock %}
