<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/brain.css?time={{ time }}">
    </head>

    <body>

        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>Brain App Demo</h1>
                        <h2>Home Page</h2>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                        This page shows how to build the HTML and CSS for
                        a nice looking web page.  Notice that all of the text
                        in this view is static.  Multiple pages require that
                        all of this code be duplicated for each page.
                        </p>
                    </div>
                </div>
            </div>

        </main>


        <footer>
            <a href="http://shrinking-world.com">
                <div class="logo-text">Copyright &copy; 2019 Shrinking World</div>
            </a>
        </footer>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>

</html>